body {
    background: #FBFBFB;
    color: #333;
    font-family: Verdana, sans-serif;
}

#container {
    margin: auto;
    width: 7.5in;
    padding: .5in;
}

#contact {
    float: right;
    text-align: right;
}

#contact p {
    margin: .5em;
}